<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body> -->
<h1>Edit Invoice: <%= @invoice.id %></h1>
    <p>Current Status: <%= @invoice.status%></p>
    <form action='/invoices/<%= @invoice.id %>' method="POST">
    <input type='text' name='invoice[status]' value='enter new status'>
    <input type='submit' value='Submit'>
    </form>
  <!-- </body>
</html> -->
