<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body> -->
  <h1 >Edit Invoice: <%= @invoice.id %></h1>
      <p>Current Status: <%= @invoice.status%></p>
      <form id='invoice-edit' action='/invoices/<%= @invoice.id %>' method="POST">
        <input id='invoice-status' type='text' name='invoice[status]' value='enter new status'>
        <button id='invoice-submit' type='submit'>Create Invoice</button>
      </form>
  <!-- </body>
</html> -->
