<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body> -->
<h1>Invoice Index</h1>
<% @invoices.each do |invoice| %>
    <ul>
        <li>merchant id: <%= invoice.merchant_id %></li>
        <li>status :<%= invoice.status %></li>
        <form action="/invoices/<%= invoice.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete"/>
        </form>
        <li><a href="/invoices/<%= invoice.id %>/edit">Edit Invoice</a></li>
    </ul>
<% end %>
<!-- </body>
</html> -->
