* {
  padding: 0;
  margin: 0;
}
/* unvisited link */
a:link {
	color: black;
	background-color: white;
	border: 2px solid black;
}

/* visited link */
a:visited {
	color: red;
	background-color: white;
	border: 2px solid black;
}

/* mouse over link */
a:hover {
	color: green;
	background-color: white;
	border: 2px solid black;
}

/* selected link */
a:active {
	color: blue;
	background-color: white;
	border: 2px solid black;
}

body {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
}

body {
	font-family: Roboto, sans-serif;
}

nav {
	display: flex;
	background-color: #DDD;
	justify-content: space-between;
	padding: 0 20px;
	height: 60px;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 250px;
}

/* nav > a {
  text-decoration: none;
} */

.nav-item {
	display: flex;
	align-items: center;
}

.nav-item a,
nav > a {
	text-decoration: none;
	padding: 10px 12px;
	transition: 0.2s ease-in-out;
}

.nav-item a:hover,
nav > a:hover {
	background-color: #aaa;
}

/* Items Dashboard */

header#items-dashboard {
  height: 150px;
  background: #BBB;
  text-align: center;
}

#items-dashboard h1 {
  padding-top: 20px;
}

main#items-dashboard-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.item-metric-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #222;
  height: 240px;
  width: 300px;
  padding: 20px 8px;
  align-items: center;
  margin-top: 100px;
}

.item-metric-container div {
  width: 90%;
  margin-top: 30px;
}

.item-metric-container a {
  border: none;
}

.item-metric {
  font-size: 42px;
  margin-top: 70px;
  height: 300px;
}

/* Edit Item Page */

header#edit-item-page {
  height: 150px;
  background: #BBB;
  text-align: center;
}

#edit-item-page h1 {
  padding-top: 20px;
}

form#edit-item {
  max-width: 900px;
  width: 80%;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
}

#edit-item label {
  font-size: 24px;
  margin-bottom: 12px;
}

#edit-item-button-container {
  display: flex;
  width: 25%;
  min-width: 240px;
  margin: 0 auto;
  justify-content: space-around;
}

#edit-item select, #edit-item input, #edit-item textarea {
  margin-bottom: 30px;
  height: 30px;
  padding: 10px;
  font-size: 14px;
}

#edit-item textarea {
  height: 90px;
}

#edit-item button {
  padding: 8px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #222;
}

#edit-cancel {
  background-color: rgb(255, 80, 110);
  transition: .2s ease-in-out;
}

#edit-cancel:hover {
  cursor: pointer;
  background-color: rgb(255, 20, 40);
}

#submit-edit {
  background-color: rgb(255, 205, 70);
  transition: .2s ease-in-out;
}

#submit-edit:hover {
  cursor: pointer;
  background-color: rgb(150, 205, 70);
}

/* Items Index Page */

header#items-index-page {
  height: 150px;
  background: #BBB;
  text-align: center;
}

#items-index-page h1 {
  margin-bottom: 20px;
}

#items-index-page a {
  border: none;
  background-color: #BBB;
  display: block;
  text-align: left;
  padding: 10px 0 0 10px;
}

button#create-new-item {
  font-size: 20px;
  padding: 12px 48px;
  letter-spacing: 1px;
}

#items-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.item-information-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
}

.item-information-container a {
  border: none;
}

.item-information-container ul {
  list-style: none;
}

.item-information-container ul li:nth-child(2) {
  height: 20px;
  overflow-x: auto;
}

.item-image {
  width: 260px;
}

/* New Item Page */

header#new-item-page {
  height: 150px;
  background: #BBB;
  text-align: center;
}

#new-item-page h1 {
  padding-top: 20px;
}

form#new-item {
  max-width: 900px;
  width: 80%;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
}

#new-item label {
  font-size: 24px;
  margin-bottom: 12px;
}

#new-item button {
  padding: 8px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #222;
}

#new-item-button-container {
  display: flex;
  width: 25%;
  min-width: 240px;
  margin: 0 auto;
  justify-content: space-around;
}

#new-item select, #new-item input, #new-item textarea {
  margin-bottom: 30px;
  height: 30px;
  padding: 10px;
  font-size: 14px;
}

#new-item textarea {
  height: 90px;
}

#new-item-cancel {
  background-color: rgb(255, 80, 110);
  transition: .2s ease-in-out;
}

#new-item-cancel:hover {
  cursor: pointer;
  background-color: rgb(255, 20, 40);
}

#item-submit {
  background-color: rgb(255, 205, 70);
  transition: .2s ease-in-out;
}

#item-submit:hover {
  cursor: pointer;
  background-color: rgb(150, 205, 70);
}

/* Item Show Page */

header#item-metainfo {
  height: 150px;
  background: #BBB;
  text-align: center;
}

#item-metainfo h1 {
  padding-top: 20px;
}

#item-metainfo button {
  padding: 8px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #222;
}

#show-page-header-buttons-container {
  display: flex;
  width: 25%;
  min-width: 240px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 30px;
}

#item-metainfo #edit-item {
  background-color: rgb(255, 205, 70);
  transition: .2s ease-in-out;
}

#item-metainfo #edit-item:hover {
  cursor: pointer;
  background-color: rgb(150, 205, 70);
}

#item-metainfo #delete-item {
  background-color: rgb(255, 80, 110);
  transition: .2s ease-in-out;
}

#item-metainfo #delete-item:hover {
  cursor: pointer;
  background-color: rgb(255, 20, 40);
}

section#show-item-information-container {
  display: flex;
  padding: 20px 40px;
  min-width: 785px;
  justify-content: center;
}

section#show-item-information-container div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.item-information * {
  margin-bottom: 20px;
}

h3.title {
  font-size: 42px;
}

span.price {
  font-size: 32px;
}

.item-merchant-and-image a {
  border: none;
  font-size: 38px;
  margin-bottom: 12px;
}

.item-merchant-and-image img {
  height: 380px;
  width: 320px;
}

