<h1> Create New Merchant </h1>
<form class="new-merchant" action="/merchants" method="post">
  <input id='new_name' type="text" name="merchant[name]" placeholder="Enter Merchant Name">
  <input id="create-button" type="submit" value="Create Merchant">
</form>
