<!DOCTYPE html>
<html>
  <head>
      <title>Create Merchant</title>
  </head>
  <body>
    <h1> Create New Merchant </h1>

    <form class="new-merchant" action="/merchants" method="post">
      <input type="text" name="merchant[name]" placeholder="Enter Merchant Name">
      <input class="create-button" type="submit" value="Create Merchant">
    </form>
  </body>
</html>
