<h1>Edit Merchant:</h1>
<h3><%= @merchant.name %></h3>
<form class="update_merchant" action="/merchants/<%=@merchant.id%>" method="POST">
  <input id='edit_name' type="text" name="merchant[name]" placeholder="Enter New Name Here">
  <input id="edit-button" type="submit" value="Submit">
</form>
