<!DOCTYPE html>
<html>
  <head>
    <title>Merchants</title>
  </head>
  <body>
      <ul>
        <h1>Merchants</h1>
        <% @merchants.each do |merchant| %>
        <li><%= merchant.name %></li>
        <% end %>
      </ul>
  </body>
</html>
