<a href="/merchants/new">Create A New Merchant</a>
<br>
<a href="/merchants-dashboard">Merchants Dashboard</a>
<ul>
  <h1>Merchants</h1>
  <div>
    <% @merchants.each do |merchant| %>
    <li>
      <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
    </li>
      <form action="/merchants/<%=merchant.id%>/edit" method="GET">
        <input type="hidden" name="_method" value="EDIT">
        <input type="submit" value="Edit">
      </form>
      <form action="/merchants/<%=merchant.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    <br>
    <br>
    <% end %>
  </div>
</ul>
