<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body> -->
      <ul>
        <h1>Merchants</h1>
        <a></a>
        <% @merchants.each do |merchant| %>
        <li><%= merchant.name %></li>
        <% end %>
      </ul>
  <!-- </body>
</html> -->
