<h1>Merchant Name: <%= @merchant.name %></h1>
<ul>
  <form action="/merchants/<%=@merchant.id%>/edit" method="GET">
    <input type="hidden" name="_method" value="EDIT">
    <input type="submit" value="Edit">
  </form>
  <form action="/merchants/<%=@merchant.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</ul>
