<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body> -->
    <h1>Merchant Name: <%= @merchant.name %></h1>
    <ul>
      <li><a href="/merchants/<%= @merchant.id %>/edit">Edit</a></li>
      <li><a href="/merchants/<%= @merchant.id %>/delete">Delete</a></li>
    </ul>
  <!-- </body>
  </html> -->
