<header>
  <h1>Items Dashboard</h1>
</header>
<main id="items-dashboard">
  <section id="total-item-count">
    <h2 class="dashboard-heading">Total Item Count</h2>
    <h3 class="item-metric"><%= @items_average %></h3>
  </section>
</main>

